<a href="https://colab.research.google.com/github/jyotish1519/100days-of-python-/blob/main/exercise_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#print function
print("hello world")

hello world

In [13]:
a="3"
b="2"
print(int(a)+int(b))

5

In [14]:
a=input("my name is" )
print("my name is" ,a )

my name isjyotish
my name is jyotish

In [15]:
#crete a calculator
a=input("enter the first number")
b=input("enter the second number")

try:
  num1 = int(a)
  num2 = int(b)

  print("the value is",num1,"+",num2,"is:",num1+num2)
  print("the value is",num1,"-",num2,"is:",num1-num2)
  print("the value is",num1,"*",num2,"is:",num1*num2)
  print("the value is",num1,"/",num2,"is:",num1/num2)
  print("the value is",num1,"**",num2,"is:",num1**num2)
  print("the value is",num1,"%",num2,"is:",num1%num2)

  if num1 > num2:
    print("a is greater than b")
  else:
    print("b is greater than a")

except ValueError:
  print("Invalid input. Please enter numbers only.")

enter the first number10
enter the second number10
the value is 10 + 10 is: 20
the value is 10 - 10 is: 0
the value is 10 * 10 is: 100
the value is 10 / 10 is: 1.0
the value is 10 ** 10 is: 10000000000
the value is 10 % 10 is: 0
b is greater than a

In [16]:
a=input("enter the first number:")
b=input("enter the second number:")
try:
  num1=int(a)
  num2=int(b)
  print("the value is",num1,"+",num2,"is:",num1+num2)
  print("the value is",num1,"-",num2,"is:",num1-num2)
  print("the value is",num1,"*",num2,"is:",num1*num2)
  print("the value is",num1,"**",num2,"is:",num1**num2)
  print("the value is",num1,"/",num2,"is:",num1/num2)
  print("the value is",num1,"%",num2,"is:",num1%num2)

except ValueError:
  print("invalid input.please enter numbers only")

enter the first number:10
enter the second number:10
the value is 10 + 10 is: 20
the value is 10 - 10 is: 0
the value is 10 * 10 is: 100
the value is 10 ** 10 is: 10000000000
the value is 10 / 10 is: 1.0
the value is 10 % 10 is: 0

In [17]:
# write a program to print twinkle twinkle little star poem in python :

print("""Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle little star
How I wonder what you are
When the blazing sun is gone
When he nothing shines upon
Then you show your little light
Twinkle, twinkle, all the night
""")

Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle little star
How I wonder what you are
When the blazing sun is gone
When he nothing shines upon
Then you show your little light
Twinkle, twinkle, all the night

In [18]:
name = 'jyotish'
friend = 'harshit'
print("hello, "+name)

hello, jyotish

In [19]:
print('hey harshit,"Do you want to eat apple"')

hey harshit,"Do you want to eat apple"

In [20]:
name="jyotish"
friend="harshit"
print(name[0])
print(name[4])

j
i

In [21]:
name='''Twinkle, twinkle, little star

How I wonder what you are

Up above the world so high

Like a diamond in the sky

Twinkle, twinkle little star

How I wonder what you are

When the blazing sun is gone

When he nothing shines upon

Then you show your little light

Twinkle, twinkle, all the night

for character in'''

for character in name:
  print(character)

T
w
i
n
k
l
e
,

t
w
i
n
k
l
e
,

l
i
t
t
l
e

s
t
a
r




H
o
w

I

w
o
n
d
e
r

w
h
a
t

y
o
u

a
r
e




U
p

a
b
o
v
e

t
h
e

w
o
r
l
d

s
o

h
i
g
h




L
i
k
e

a

d
i
a
m
o
n
d

i
n

t
h
e

s
k
y




T
w
i
n
k
l
e
,

t
w
i
n
k
l
e

l
i
t
t
l
e

s
t
a
r




H
o
w

I

w
o
n
d
e
r

w
h
a
t

y
o
u

a
r
e




W
h
e
n

t
h
e

b
l
a
z
i
n
g

s
u
n

i
s

g
o
n
e




W
h
e
n

h
e

n
o
t
h
i
n
g

s
h
i
n
e
s

u
p
o
n




T
h
e
n

y
o
u

s
h
o
w

y
o
u
r

l
i
t
t
l
e

l
i
g
h
t




T
w
i
n
k
l
e
,

t
w
i
n
k
l
e
,

a
l
l

t
h
e

n
i
g
h
t




f
o
r

c
h
a
r
a
c
t
e
r

i
n

In [22]:
name="jyotish,harshit"
print(name[0:5])
print("name has a length of",len(name))

jyoti
name has a length of 15

In [23]:
pie="applepie"
print(pie[-1])
print(pie[-3])

e
p

In [24]:
pie="applepie"
print(pie[:5])
print(pie[6]) # returns character at specified index
print(pie[0:len(pie)-5]) # or
print(pie[:-5])
print(pie[-2:-5])

apple
i
app
app

In [25]:
def calculator():
    """A simple calculator function."""
    try:
        num1 = float(input("Enter first number: "))
        operator = input("Enter operator (+, -, *, /, %): ")
        num2 = float(input("Enter second number: "))

        if operator == '+':
            print(f"{num1} + {num2} = {num1 + num2}")
        elif operator == '-':
            print(f"{num1} - {num2} = {num1 - num2}")
        elif operator == '*':
            print(f"{num1} * {num2} = {num1 * num2}")
        elif operator == '/':
            if num2 == 0:
                print("Error: Division by zero!")
            else:
                print(f"{num1} / {num2} = {num1 / num2}")
        elif operator == '%':
            print(f"{num1} % {num2} = {num1 % num2}")
        else:
            print("Invalid operator.")
    except ValueError:
        print("Invalid input. Please enter valid numbers.")

calculator()

Enter first number: 10
Enter operator (+, -, *, /, %): *
Enter second number: 10
10.0 * 10.0 = 100.0

In [26]:
#string are immutable.
a="jyotish"
print(len(a))
print(a.upper())
print(a.lower())

7
JYOTISH
jyotish

In [27]:
# strip()
a="You currently have zero compute units available. Resources offered free of charge are not guaranteed. Purchase more units"
print(a.strip())

You currently have zero compute units available. Resources offered free of charge are not guaranteed. Purchase more units

In [28]:
#rstip()
str2= "jyotish harshit !!!!!!!!!"
print(str2.rstrip("!"))

jyotish harshit

In [29]:
#replace():
str2= "jyotish harshit !!!!!!!!!"
print(str2.replace("harshit","harshit singh"))

jyotish harshit singh !!!!!!!!!

In [30]:
#split: the split() method split the given string at the specified instance and returns the separated strint at a list items
str2= "jyotish harshit !!!!!!!!!"
print(str2.split())

['jyotish', 'harshit', '!!!!!!!!!']

In [31]:
# Keywords are reserved words in Python that have special meanings.
# They cannot be used as variable names, function names, or any other identifiers.

# Here are some common Python keywords and their uses:

# if, elif, else: Used for conditional execution.
x = 10
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is 5")
else:
    print("x is less than 5")

# for: Used for iterating over a sequence (like a list, tuple, string, or range).
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# while: Used for executing a block of code repeatedly as long as a condition is true.
count = 0
while count < 5:
    print(count)
    count += 1

# def: Used to define a function.
def greet(name):
    print("Hello, " + name)

greet("Jyotish")

# import: Used to import modules or parts of modules.
import math
print(math.sqrt(16))

# try, except, finally: Used for exception handling.
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")
finally:
    print("This will always execute")

# class: Used to define a class.
class MyClass:
    def __init__(self, name):
        self.name = name
    def display_name(self):
        print(self.name)

obj = MyClass("Example")
obj.display_name()

# True, False, None: Boolean values and null value.
is_active = True
is_valid = False
data = None

print(is_active)
print(is_valid)
print(data)

# and, or, not: Logical operators.
a = True
b = False
print(a and b)
print(a or b)
print(not a)

x is greater than 5
apple
banana
cherry
0
1
2
3
4
Hello, Jyotish
4.0
Cannot divide by zero!
This will always execute
Example
True
False
None
False
True
False